doctype html
html
  head
    title=title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href='/style.css')
  body
    header
      h1 B.K. Birla College, Kalyan
      img.logo(src='/buzzer-logo.jpg' alt="Event Logo")
      h2 Geeks vs GEEK

    div.container
      h2.js-active=`${users.length} joined`
      ol.js-buzzes
        each buzz in buzzes
          li=`${buzz.name} on Team ${buzz.team}`
      button.js-clear='Clear buzzes'

    footer
      div.creator-info
        p Created by <strong>Nachiket Kapure</strong>
        p For more information, contact:
        p Email: <a href="mailto:kapnachi1904@gmail.com">kapnachi1904@gmail.com</a>
        p LinkedIn: <a href="https://www.linkedin.com/in/nachiket-kapure-ml-enginner" target="_blank">Nachiket Kapure</a>

    script(src='/socket.io/socket.io.js')
    script(src='/host.js')
