doctype html
html
  head
    title=title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto:400,500,700,900")
    link(rel="stylesheet" href='/style.css')
  body.js-body
    header
      h1 B.K. Birla College, Kalyan
      img.logo(src='/buzzer-logo.jpg' alt="Event Logo")
      h2 Geeks vs GEEK

    div.container
      form.view.js-join
        img(src="/lets-play.png" class="main-image")
        h2="Let's play!"
        input(type='text' name='name' placeholder='Your name' required='required')
        input(type='number' name='team' placeholder='Your team number' required='required')
        button(type='submit')='Join!'

      div.view.js-joined.hidden
        button.js-buzzer.buzzer()='Buzz!!!'
        p.js-joined-info=""
        button.js-edit.secondary='Change teams'

    footer
      div.creator-info
        p Created by <strong>Nachiket Kapure</strong>
        p For more information, contact:
        p Email: <a href="mailto:kapnachi1904@gmail.com">kapnachi1904@gmail.com</a>
        p LinkedIn: <a href="https://www.linkedin.com/in/nachiket-kapure-ml-enginner" target="_blank">Nachiket Kapure</a>

    script(src='/socket.io/socket.io.js')
    script(src='/join.js')
